<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
  </head>
  <body>
    <form action="/articleSelected" method="post">
      <% article.forEach(element=>{ %>
      <input type="radio" name="check" value=<%= element.title %> />
      <label for="check"><%= element.title %></label>
      <br />
      <% }) %>
      <button type="submit">Select</button>
    </form>
  </body>
</html>
